
# wikiWho? - Setup Guide

## Prerequisites

Ensure you have Python 3 installed on your system.

## Installation Steps

1. **Clone the Repository**
   Clone the game repository from GitHub:
   ```
   git clone https://github.com/Viktor0317/wikiWho-Python-Game.git
   cd wikiWho
   ```

2. **Install Required Modules**
   Install the dependencies listed below using pip/pip3:
  

3. **Run the Game**
   Start the game by executing the main script:
   ```
   python3 wikiWho.py
   ```

## Dependencies

- `wikipedia`: Used for fetching clues from Wikipedia.
- `colorama`: For colored output in the terminal.

### Sample Commands to Install
```
pip3 install wikipedia
pip3 install colorama
```

Enjoy playing **wikiWho?** and have fun guessing!
